@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

.dark .bg {
  background-image: url("./assets/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg {
  background-image: url("./assets/background-image-light.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-primary {
  @apply bg-[#ffffff] bg-opacity-60 backdrop-blur-xl backdrop-filter;
}

.dark .bg-primary {
  @apply bg-black/25 backdrop-blur-2xl backdrop-filter;
}

.dark .btn-primary-white {
  @apply bg-white text-black px-6 py-2 rounded-lg border-2 border-white/40  hover:bg-black/25 hover:text-white transition-all duration-[0.4s];
}
.dark .btn-primary-dark {
  @apply bg-black/25 text-white border-2 border-white/40 px-6 py-2 rounded-lg hover:bg-white hover:text-black transition-all duration-[0.4s];
}

.btn-primary-danger {
  @apply bg-red-500/90 text-white px-6 py-2 rounded-lg border-2 border-white/40  hover:bg-black/25 hover:text-white transition-all duration-[0.4s];
}

.text-primary {
  @apply font-bold;

  filter: drop-shadow(0 0 5px rgba(105, 242, 250, 0.6));
}

.dark .border {
  @apply border-2 border-white/40;
}

.popup {
  @apply fixed top-0 left-0 bg-white/10 dark:bg-black/40  backdrop-blur-lg backdrop-filter flex items-center justify-center h-screen w-screen;
}

.popup-child {
  @apply rounded-md p-5 w-[300px] min-h-[450px] h-auto sm:w-[400px] sm:min-h-[400px] md:w-[500px] md:min-h-[400px] lg:w-[600px] lg:min-h-[500px] bg-primary bg-opacity-80 shadow-md;
}

.disabled-btn {
  @apply disabled:opacity-50 disabled:hover:bg-[#031C28] disabled:hover:text-white;
}

.disabled-btn-dark {
  @apply disabled:opacity-50 hover:bg-white/25 hover:text-black;
}

.dark .disabled-btn {
  @apply disabled:opacity-50 disabled:hover:bg-white disabled:hover:text-black;
}

.dark .disabled-btn-dark {
  @apply disabled:opacity-50 disabled:hover:bg-black/25 disabled:hover:text-white;
}

.btn-primary-white {
  @apply bg-[#031C28] text-white px-6 py-2 rounded-lg border-2 border-black/40  hover:bg-white/25 hover:text-black transition-all duration-[0.4s];
}

.btn-primary-dark {
  @apply bg-white/25 text-black border-2 border-black/40 px-6 py-2 rounded-lg hover:bg-[#031C28] hover:text-white transition-all duration-[0.4s];
}

.dark h1 {
  @apply text-white;
}
.dark p {
  @apply text-white;
}
.dark small {
  @apply text-white;
}
.dark button {
  @apply text-white;
}

.dark select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.67);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
