@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  color: white;
}

.bg {
  background-image: url("./assets/background-image.png");
}
